@{
    Page.Title = "Acerca de nosotros";
}

<section id="main">
    <h1>Breve descripción de Sony Store</h1>
    <p>
       Una sola palabra nos define: Tecnología. Desde una cámara para atesorar tus recuerdos, hasta 
       una televisión 3D en donde verlos con la máxima calidad Ultra High Definition, Sony te ofrece
        un mundo de posibilidades donde cada uno de nuestros productos son una parte importante de
        tu vida. 
    </p>
</section>

<div id="sidebar">
    @Twitter.Search(
        "#FabrizioCarden2", 
        caption: "Búscanos", 
        backgroundShellColor: "#e6e3d8", 
        tweetsBackgroundColor: "#fdfcf7", 
        shellColor: "#696969",
        tweetsColor: "#696969",
        tweetsLinksColor: "#a52f09")
</div>
