@{
    Page.Title = "Acerca de nosotros";
}

<section id="main">
    <h1>Vaio Duo 13</h1>

    <br /><br />
        
    <video controls autoplay>
        <source src="vaio.mp4" type="video/mp4">
    </video>

    <p>
        Elegante... Proderosa... Liviana... Tuya!<br>
        La nueva Vaio Duo 13 será tu próxima computadora y tienes que 
        venir a Sony a conocerla!
    </p>
</section>

